body {
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(135deg, #F3AA36, #F07C26)
}
.navbar {
	position : fixed;
	top : 0;
	width : 100%;
	height : 8vh;
	background: rgba(0,0,0,0.25);
	justify-content: space-between;
	color : white;
	display : flex;
	align-items : center;
	padding : 10px;
	box-sizing : border-box;
	z-index : 1000;
}
.nav-links {
	list-style : none;
	display : flex;
	gap : 25px;
}
.nav-links li a {
	background-color: white;
	padding: 12px;
	color : black;
	text-decoration : none;
	font-size : 16;
	transition : 0.3s;
	border-radius: 10px;
}
.logoo {
	background-color: white;
	color: #F3AA36;
	font-weight: bold;
	padding: 15px 7px;
	border-radius: 50%;
}
.profile-container{
	background-color: white;
	padding: 30px;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba (0, 0, 0, 0.1);
	width: 300px;
	text-align: left;
}

.info-label {
	width: 100px;
	display:inline-block;
	color: #333;
	font-weight: bold;
}

a {
	display: inline-block;
	background-color: gold;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	text-decoration: none;
}

a:hover {
	background-color: #0056b3
}

.Profil-info {
	line-height: 25px;
	color: #555;
	margin-bottom: 10px;
}

img {
	border-radius: 50%;
	object-fit: cover;
	border: 3px solid #333;
}