html {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(135deg, #F3AA36, #F07C26);
}
.navbar {
	position : fixed;
	top : 0;
	width : 100%;
	height : 8vh;
	background: rgba(0,0,0,0.25);
	justify-content: space-between;
	color : white;
	display : flex;
	align-items : center;
	padding : 10px;
	box-sizing : border-box;
	z-index : 1000;
}
.nav-links {
	list-style : none;
	display : flex;
	gap : 25px;
}
.nav-links li a {
	background-color: white;
	padding: 12px;
	color : black;
	text-decoration : none;
	font-size : 16;
	transition : 0.3s;
	border-radius: 10px;
}
.logoo {
	background-color: white;
	color: #F3AA36;
	font-weight: bold;
	padding: 15px 7px;
	border-radius: 50%;
}
.kotak {
	background-color: white;
	padding: 0px;
	border-radius: 20px ;
	width: 40vh;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.logo {
	color: #F3AA36;
	padding: 15px 7px;
	border-radius: 50%;
	width: fit-content;
	margin: 0 auto;
}
img {
width:120px;
}
.go {
display: flex;
align-items: center;
margin-left: 10%;
}
h2 {
width: fit-content;
margin:0 auto;
}
.manu{
width: 50px;}